<main class="main">
    <div class="main_content">
        <h1 class="title title_center">
            Створити
        </h1>
        <ul class="choose">
            <a href="/spotify-create">
                <li class="choose_item">
                    <img src="/svg/notes.svg" class="choose_image">
                    <div class="choose_content">
                        <strong class="title">Плейлист</strong>
                        <p class="choose_text">Створіть плейлист із піснями чи епізодами</p>
                    </div>
                </li>
            </a>
            <a href="/spotify-create?isMix=true">
                <li class="choose_item">
                    <img src="/svg/union.svg" class="choose_image">
                    <div class="choose_content">
                        <strong class="title">Mix</strong>
                        <p class="choose_text">Створіть плейлист із піснями чи епізодами</p>
                    </div>
                </li>
            </a>
        </ul>
    </div>
</main>