@use "../../lib/service.scss" as s;
@use "../../component/divider/style.scss" as divider;

@use "../../component/purchase-product/style.scss" ;



h1 {
    color: s.color(primary);
    padding-left: s.space(4);
   margin-bottom: s.space(8);
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.list:hover{
 
   transition: box-shadow 0.5s ease-in;
box-shadow: 2px 2px 5px 2px s.color(light);

}
.vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.blackfont{
    color:s.color(black);
    font-size: 14px;
    margin-bottom:s.space(3);
      margin-top:s.space(3);
}