<main class="form">
    {{>heading title = 'Товари' info = "Комп'ютери та ноутбуки/ Комп'ютери, неттопи, моноблоки"}}
    <div class="form_three_field">
        {{#each data.list}}
        {{>purchase-product data=this}}

        {{/each}}
    </div>
</main>