@use "../../lib/service.scss" as s;
@use "../../component/divider/style.scss" as divider;
@use "../../component/field/style.scss" as field;
@use "../../component/purchase-product/style.scss" ;



h1 {
    color: s.color(primary);
    padding-left: s.space(4);
   margin-bottom: s.space(8);
}
.width30{
    width: 30%;
}