{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}
<main>
  <section>
    <h1 class="form_title">Створення товару</h1>
    <div class="form">
      <h2 class="form_title">Інформація про товар</h2>
      <form method="POST" action="/product-create">
        <div class="form_content">
          <div class="form_double_field">
            <div class="form_field">
              <label for="name" class="form_label">Назва товару</label>
              <input type="name" class="form_input" name="name">

            </div>
            <div class="form_field">
              <label for="price" class="form_label">Ціна</label>
              <input type="number" class="form_input" name="price">
            </div>
          </div>
          <div class="form_field">
            <label for="description" class="form_label">Короткий опис товару:</label>
            <textarea type="text" class="form_input" name="description" rows="3"></textarea>
            <p>Відображується у картці товару</p>
          </div>
          <button class="form_button">Створити товар</button>
        </div>
      </form>
    </div>
  </section>


</main>
{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}