{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<div class="form">
  <div class="form_field">
    <h1 class="form_title">{{message}}</h1>
    <p class="form_label">{{info}}</p>
  </div>
  <a class="form_button " href="{{link}}">Повернутися назад</a>
</div>

{{!
Цей код містить лише те, що буде виводитись в

<body>
  Адже наш layout/default.hbs має вже структуру HTML
  }}